body {
	margin:0;
}

header {
	position: relative;
	top:0;
	left: 0;
	right: 0;
	height:50px;
	background-color: white;
	text-decoration: none;
}
.page-header {
	font-family: 'Grand Hotel', cursive;
	font-size: 50px;
	font-weight: 700;
	color: black;
	text-decoration: none;
	padding-left: 50px;

}

nav ul{
	float: right;
}

nav li {
	display: inline;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	color: black;
	padding: 14px 10px;
}

.jumbotron {
  background-image:url('http://i4.photobucket.com/albums/y140/anexiong/Chedor%20Website/E6A55845C9.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}

.jumbotron .container{
  position: relative;
  top:300px;
}

.index-imgs {
	padding: 10px;
}

#browse p {
	text-transform: uppercase;
  	margin: 10px 0 5px;
  	font-size: 10px;
  	font-weight: 600;
  	letter-spacing: 2px;
  	line-height: 25px;
  	font-family: 'Lato', sans-serif;
  	text-align: center;
}

#footer-container {
	position: relative;
	bottom:0;
	left: 0;
	right: 0;
	padding: 30px;
	height: 150px;
	text-align: center;
	background-color: #f6f6f6;
	clear:both;
}

#footer-social a{
	text-decoration: none;
	color: #A3AFBF;
	margin-top: 20px;
	padding: 20px;
}

span {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	color:#A3AFBF;
}
  /*==========journal=============*/

.container-fluid {
	margin: 0px 50px;
}
#section1 {
	margin: 20px;
	padding: 0 auto;
	text-align: center;
	background-color:#BBE4F0;
}

#section1 h3 {
	padding: 12px;
}

#section2 {
	margin-bottom: 20px;
	padding: 12px;
	position: center;
	background-color:#BBE4F0;
}

#section3 {
	margin-bottom: 20px;
	padding: 12px;
	position: center;
	background-color:#BBE4F0;
}

#section4 {
	margin-bottom: 20px;
	padding: 12px;
	position: center;
	background-color:#BBE4F0;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  color:navy;
  padding: 12px;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color:navy;
}
h2{
	font-family: 'Grand Hotel', cursive;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 70px;
}

h1 {
	font-family: 'Grand Hotel', cursive;
	margin-top: 100px;
}

h3 {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	text-align: center;
	font-size: 32px;
}	

h5 {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	text-align: center;	
}

p {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	margin: 20px;
	color:black;
}
.container {
	width: 1000px;
}

.container p{
	text-align: justify;
	margin-top: 10px;
	text-decoration: none;
	padding: 0 auto;
	font-size: 16px;
}

#img-border {
	background-color: black;
	text-align: center;
	border-color: black;
	padding: 0 auto;
	margin: 0 auto;
}

/*============contact=========*/

section {
	width: 550px;
	margin-bottom: 40px;
	position: relative;
	float: left;
}

.social {
	text-align: center;
	margin-top: 40px;
}

.social a{
	text-decoration: none;
	padding: 0px 20px;
	color: #247DD6;
}

.social a:hover{
	color: #349CED;
}

.form {
	float: right;
	position: relative;
	bottom: 550px;
	margin-right: 50px;
}